.menu-link {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.menu-link:hover {
  color: #000000 !important;
}

.active-link {
  color: #000000 !important;
  font-weight: 600 !important;
}
